body {
  background-color: #282120fa;
  margin: 0;
  font-family: sans-serif;
}

/* Global components */
.global-component-button {
  background-color: #3a2c2c;
  padding: 15px;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
  border-radius: 0.75rem;
  font-size: 15px;
  transition: all 0.3s ease;
  user-select: none;
}
.global-component-button:hover {
  box-shadow: 0 0 8px rgba(226, 114, 91, 0.6);
  border: 2px solid rgba(226, 114, 91, 0.6);
  background-color: #4b3636;
}

.global-component-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  background-color: rgba(78, 62, 60, 0.98);
  justify-content: space-between;
}
.global-component-header-titlediv {
  margin-left: 23vw;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}
.global-component-header-menu {
  width: 300px;
  height: 100vh;
  background-color: rgba(78, 62, 60, 0.98);
  position: fixed;
  right: 0;
  top: 70px;
  border-top: 2px solid #ffffff;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  pointer-events: none;
}
.global-component-header-menu.visible {
  display: block;
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
.global-component-header-menu-div {
  padding: 10px;
  cursor: pointer;
}
.global-component-header-menu-div-button {
  background: #392926fa;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: 100%;
  user-select: none;
  transition: all 0.3s ease;
}
.global-component-header-menu-div-button:hover {
  transform: scale(1.03);
}
.global-component-header-menu-div-button:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.global-component-loader-div {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #282120fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1880px) {
  .global-component-header-titlediv {
    margin-left: 15vw !important;
  }
}

@media (max-width: 480px) {
  .global-component-header-titlediv {
    margin-left: 1rem !important;
  }
  .global-component-header-menu.visible {
    width: 100vw !important;
    height: 100vh !important;
  }
}
