.fourzerofour-logo {
  animation: spinPause 6s linear infinite;
  cursor: pointer;
}

@keyframes spinPause {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
