.app-container {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  gap: 4rem;
}
.app-container-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Login form */
.component-app-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: rgba(78, 62, 60, 0.98);
  padding: 3rem;
  border: 3px solid #7a5c5c;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  transition: box-shadow 0.3s ease;
}
.component-app-form-title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  user-select: none;
}
.component-app-form-title-NASS {
  color: #e2725b;
}
.component-app-form-div-password,
.component-app-form-div-username {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.component-app-form-password,
.component-app-form-username {
  width: 320px;
  padding: 1rem;
  background-color: #3a2c2c;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 0.5rem;
  transition: all 0.25s ease;
  user-select: none;
}
.component-app-form-password::placeholder,
.component-app-form-username::placeholder {
  color: #dcdcdc;
  font-family: sans-serif;
  font-size: 0.9rem;
}
.component-app-form-password:focus,
.component-app-form-username:focus {
  outline: none;
  border-color: #e2725b;
  background-color: #4b3636;
  box-shadow: 0 0 8px rgba(226, 114, 91, 0.6);
}
/* End of login form */

@media (max-width: 1775px) {
  .app-container {
    gap: 0;
  }
  .app-container-quote-p {
    display: none;
  }
}

@media (max-width: 480px) {
  .app-container {
    width: 100%;
    height: 80vh;
    gap: 0.8rem;
  }

  /* Login form */
  .component-app-form {
    display: flex;
    justify-content: center;
    width: 85%;
    padding: 2rem 1rem;
    border-radius: 0 !important;
    height: 80vh;
  }
  .component-app-form-password,
  .component-app-form-username {
    width: 90%;
    padding: 0.9rem;
    border: 2px solid #fff;
    border-radius: 0.75rem;
    background-color: #3a2c2c;
  }
  /* End of login form */
}
