.nas-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: start;
  width: 50%;
  margin: 6rem auto;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  justify-content: center;
}

/** Storage Pie Chart Component **/
.component-nas-storage-pie-chart {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  width: 350px !important;
  background: rgba(78, 62, 60, 0.98);
  padding: 1rem;
  border: 3px solid #7a5c5c;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  height: 340px;
}
.component-nas-storage-pie-chart-title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  color: #ffffff;
  margin: 10px;
  font-size: 20px;
  user-select: none;
}
.component-nas-storage-pie-chart-div-p {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-nas-storage-pie-chart-p {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  gap: 0.4rem;
  margin: 10px;
  user-select: none;
}

/** CPU Gauge Chat **/
.component-nas-cpu-gauge-chart {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2.5rem;
  width: 300px !important;
  background: rgba(78, 62, 60, 0.98);
  padding: 1rem;
  border: 3px solid #7a5c5c;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  height: 340px;
}
.component-nas-cpu-gauge-chart-title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  color: #ffffff;
  margin: 10px;
  font-size: 20px;
  user-select: none;
}
.component-nas-cpu-gauge-chart-p {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  margin: 10px;
  user-select: none;
}
.component-nas-cpu-gauge-chart-info {
  display: flex;
  position: absolute;
  bottom: 10px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/* System Information Component */
.component-nas-system-info {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3rem;
  background: rgba(78, 62, 60, 0.98);
  padding: 1rem;
  border: 3px solid #7a5c5c;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  height: 350px;
}
.component-nas-system-info-title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #ffffff;
  margin: 10px;
  font-size: 23px;
  user-select: none;
}
.component-nas-system-info-p {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 10px;
  user-select: none;
}
.component-nas-system-info-container {
  display: flex;
  justify-content: space-between;
}
.component-nas-system-info-container-adv {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: 200px;
  justify-content: center;
  height: 405px;
}
.component-nas-system-info-container-adv-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.component-nas-system-info-container-sysinfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  height: 325px;
}
.component-nas-system-info-container-sysinfo-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1880px) {
  .nas-div {
    width: 80% !important;
  }
  .component-nas-system-info {
    margin-right: 4rem !important;
  }
  .component-nas-cpu-gauge-chart {
    margin-left: 4rem !important;
  }
  .component-nas-storage-pie-chart-p {
    margin: 10px !important;
  }
}

@media (max-width: 480px) {
  .nas-div {
    margin-top: 6rem !important;
    width: 50% !important;
  }
  .component-nas-storage-pie-chart {
    height: 380px !important;
    width: 300px !important;
  }
  .component-nas-cpu-gauge-chart {
    margin-left: 0 !important;
  }
  .component-nas-system-info {
    margin-right: 0 !important;
  }
  .component-nas-system-info-container-adv {
    display: none !important;
  }
  .component-nas-system-info-container-sysinfo-inner {
    gap: 10px !important;
  }
  .component-nas-storage-pie-chart-div-p {
    align-items: start !important;
    flex-direction: column;
  }
  .component-nas-storage-piechart-constructor {
    width: 300px !important;
    height: 250px !important;
  }
}
