.nas-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;
  height: 100%;
  margin-top: 6rem;
}

/** Storage Pie Chart Component **/
.component-nas-storage-pie-chart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 300px !important;
  background: rgba(78, 62, 60, 0.98);
  padding: 1rem;
  border: 3px solid #7a5c5c;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  height: 340px;
}
.component-nas-storage-pie-chart-title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  color: #ffffff;
  margin: 10px;
  font-size: 20px;
  user-select: none;
}
